.text-orange {
  color: #e84c28;
}

.text-yellow {
  color: #e7cd11;
}

.font-mediator-narrow {
  font-family: 'MediatorNarrow-Regular';
}

.font-industry-ultra {
  font-family: 'Industry-Ultra';
}

.font-uppercase {
  text-transform: uppercase;
  -moz-font-feature-settings: 'case';
  -webkit-font-feature-settings: 'case';
  font-feature-settings: 'case' on;
}

.btn-play {
  padding: 12px 49px;
  background-color: #3ccc00;
  max-width: 180px;
  font-weight: bold;
  @media(max-width: 991px) {
    margin: 0 auto;
  }
  &:hover, &:focus, &:active:focus {
    box-shadow: none;
  }
  &:hover {
    opacity: 0.8;
    transition: 1s all;
  }
}

.font-size-16 {
  font-size: 16px;
}

.font-size-24 {
  font-size: 24px;
}

@-webkit-keyframes glowing {
  0% {
    background-color: #c4c6cf;
  }
  100% {
    background-color: #f05a22;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: #c4c6cf;
  }
  100% {
    background-color: #f05a22;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: #c4c6cf;
  }
  100% {
    background-color: #f05a22;
  }
}

@keyframes glowing {
  0% {
    background-color: #c4c6cf;
  }
  100% {
    background-color: #f05a22;
  }
}