@font-face {
  font-family: 'MediatorNarrow-Regular';
  src: url("../fonts/MediatorNarrow-Regular.eot");
  src: url("../fonts/MediatorNarrow-Regular.woff2") format("woff2"), url("../fonts/MediatorNarrow-Regular.woff") format("woff"), url("../fonts/MediatorNarrow-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Industry-Ultra';
  src: url("../fonts/Industry2018-Ultra.eot");
  src: url("../fonts/Industry2018-Ultra.woff2") format("woff2"), url("../fonts/Industry2018-Ultra.woff") format("woff"), url("../fonts/Industry2018-Ultra.woff2") format("woff2"), url("../fonts/Industry2018-Ultra.ttf") format("truetype");
}

body {
  background-color: #070b14;
  overflow-x: hidden;
  color: #cccccc;
  font-size: 14px;
}

.banner {
  background-image: url('../img/banner.jpg');
  background-size: 2500px;
  min-height: 3200px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  @media(max-width: 991px) {
    background-image: url('../img/tablet-banner.jpg');
    background-size: 991px;
  }
  @media(max-width: 767px) {
    background-image: url('../img/mobile-banner.jpg');
    background-size: 767px;
  }
}

.header {
  padding-top: 25px;
  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .logo {
      img {
        width: 208px;
      }
    }
    .language-dropdown {
      background-color: rgba(0, 0, 0, 0.64);
      border-radius: 4px;
      max-height: 40px;
      .language-switcher {
        text-decoration: none;
        padding: 10px;
        display: flex;
        align-items: center;
        span {
          color: #575756;
          font-size: 12px;
        }
        img {
          width: 30px;
          margin-right: 7px;
        }
      }
    }
  }
}

.improved-rakeback {
  margin-top: 107px;
  @media(max-width: 991px) {
    margin-top: 220px;
    text-align: center;
    padding-bottom: 20px;
  }
  .content {
    @media(min-width: 992px) {
      max-width: 400px;
    }
    @media(max-width: 991px) {
      padding-right: 0;
      padding-left: 0;
    }
    h1 {
      font-size: 48px;
      color: #ffffff;
      margin-bottom: 25px;
      @media(max-width: 991px) {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }
    p {
      margin-bottom: 25px;
    }
    h5, p {
      font-size: 18px;
      color: #ffffff;
      margin-bottom: 18px;
      text-transform: uppercase;
      @media(min-width: 992px) {
        max-width: 300px;
      }
      @media(max-width: 991px) {
        margin-bottom: 10px;
      }
    }
  }
}

.rakeback-table {
  margin: 103px auto 25px;
  @media(max-width: 1199px) {
    max-width: 100%;
  }
  @media(max-width: 991px) {
    margin-top: 0;
  }
  @media(max-width: 767px) {
    padding: 0;
  }
  .background {
    width: 100%;
    text-align: center;
    img {
      position: absolute;
      left: 0;
      max-width: 1265px;
      width: 100%;
      right: 0;
      margin: 0 auto;
      min-height: 750px;
      @media(max-width: 991px) {
        display: none;
      }
    }
  }
  .left-menu {
    margin-top: 95px;
    padding-left: 80px;
    @media(max-width: 1199px) {
      padding-left: 50px;
    }
    @media(max-width: 991px) {
      text-align: center;
      margin-bottom: 30px;
      padding-left: 0;
      margin-top: 0;
    }
    .item {
      position: relative;
      @media(min-width: 992px) {
        &:before {
          content: "";
          position: absolute;
          height: 1px;
          width: 30px;
          background-color: #e84e0f;
          top: 48px;
          left: -40px;
        }
      }
      .header {
        color: #ffffff;
        font-size: 36px;
        @media(max-width: 991px) {
          font-size: 26px;
        }
        @media(max-width: 767px) {
          padding-top: 10px;
        }
      }
      .description {
        color: #ffffff;
        font-size: 18px;
        @media(min-width: 992px) {
          max-width: 335px;
        }
        &.low-font {
          font-size: 14px;
        }
        &.orange {
          color: #e96402;
        }
      }
    }
  }
  .right-menu {
    margin-top: 95px;
    @media(max-width: 767px) {
      margin-top: 0;
    }
    .text-header {
      color: #878889;
      font-size: 14px;
      margin-bottom: 18px;
    }
    .wrapper {
      background-color: #2e3238;
      border-radius: 7px;
      padding: 0;
      @media (min-width: 1800px) {
        margin-right: 40px;
      }
      @media(min-width: 992px) {
        margin-left: 40px;
      }
      .top {
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #515456;
        padding: 20px;
        @media(max-width: 767px) {
          flex-direction: column;
          padding: 10px 10px 20px 10px;
        }
        .end-of-month {
          font-size: 16px;
          max-width: 200px;
          margin-bottom: 0;
          @media(max-width: 767px) {
            max-width: 100%;
            text-align: center;
            order: 3;
          }
        }
        .date {
          display: flex;
          font-size: 22px;
          width: 50%;
          @media(max-width: 767px) {
            justify-content: center;
            order: 3;
            margin-top: 10px;
            width: 100%;
          }
          &-bg {
            width: 50px;
            text-align: center;
            background-color: #3a3c3f;
            border-radius: 5px;
            margin-right: 5px;
            margin-left: 5px;
            line-height: 1;
            padding: 5px 0 8px 0;
            span {
              font-size: 12px;
              display: block;
              color: #c7c5c8;
            }
          }
        }
        &-right {
          display: flex;
          @media(max-width: 767px) {
            order: 1;
            width: 100%;
            justify-content: flex-end;
            margin-bottom: 10px;
          }
          .info {
            color: #cccccc;
            border: 1px solid #cccccc;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
          }
          .close {
            position: relative;
            width: 20px;
            height: 20px;
            &:before {
              content: "";
              position: absolute;
              width: 2px;
              height: 18px;
              background-color: #cccccc;
              border-radius: 2px;
              transform: rotate(45deg);
              left: 9px;
              top: 0;
            }
            &:after {
              content: "";
              position: absolute;
              width: 2px;
              height: 18px;
              background-color: #cccccc;
              border-radius: 2px;
              transform: rotate(-45deg);
              right: 9px;
              top: 0;
            }
          }
        }
      }
      .middle {
        padding: 20px;
        color: #aaaaaa;
        @media(max-width: 767px) {
          padding: 20px 5px;
        }
        .ranks {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          font-size: 16px;
          @media(max-width: 767px) {
            justify-content: center;
            flex-direction: column;
          }
          .my-rank {
            display: flex;
            align-items: center;
            @media(max-width: 767px) {
              justify-content: center;
              margin-bottom: 10px;
            }
            .rank-lvl {
              margin-left: 10px;
              width: 40px;
              height: 40px;
              background-color: #38af00;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 24px;
              color: white;
              border-radius: 50%;
            }
          }
          .my-points {
            @media(max-width: 767px) {
              text-align: center;
            }
            .my-points-counter {
              min-width: 53px;
              text-align: right;
              @media(max-width: 768px) {
                display: inline-block;
              }
            }
            p {
              margin: 0;
              @media(min-width: 768px) {
                display: flex;
                justify-content: space-between;
              }
            }
          }
        }
        .progress-bar-loader {
          display: flex;
          font-size: 12px;
          margin-top: 50px;
          margin-bottom: 36px;
          .item {
            width: 11.1%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            .lvl {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              background-color: #515456;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
            }
            &.active {
              .lvl {
                background-color: #38af00;
              }
            }
            &.first {
              .line {
                &:before {
                  border-bottom-left-radius: 3px;
                  border-top-left-radius: 3px;
                }
              }
            }
            &.last {
              .line {
                &:before {
                  border-bottom-right-radius: 3px;
                  border-top-right-radius: 3px;
                }
              }
            }
            &.active {
              .line {
                &:after {
                  width: calc(100% + 2px);
                }
              }
            }
            .line {
              width: 2px;
              height: 10px;
              background-color: #515456;
              margin-top: 5px;
              margin-bottom: 10px;
              &:before {
                content: "";
                height: 5px;
                width: 100%;
                position: absolute;
                left: 0;
                top: calc(50% - 4px);
                background-color: #515456;
              }
              &:after {
                content: "";
                height: 5px;
                position: absolute;
                left: 0;
                top: calc(50% - 4px);
                background-color: #38af00;
                border-radius: 2px;
                width: 0;
                z-index: 1;
                transition: width 0.6s;
              }
            }
          }
        }
        .rakeback-points {
          font-size: 16px;
          color: #848484;
          span {
            color: #ffffff;
          }
        }
      }
      .bottom {
        background-color: #515456;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 20px;
        .available-points {
          font-size: 18px;
        }
        .exchange {
          margin-top: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 18px;
          @media(max-width: 767px) {
            flex-direction: column;
          }
          &-icon {
            width: 20%;
            @media(max-width: 767px) {
              width: 100%;
              margin: 10px 0;
            }
          }
          &-bg {
            background-color: #3a3c3f;
            border-radius: 50px;
            padding: 10px 5px;
            width: 40%;
            position: relative;
            line-height: 1.3;
            @media(max-width: 767px) {
              width: 100%;
            }
            .max {
              position: absolute;
              background-color: #e84e0f;
              font-size: 10px;
              width: 28px;
              height: 28px;
              border-radius: 50%;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              line-height: 1;
              right: 10px;
              top: calc(50% - 14px);
            }
            p {
              margin-bottom: 0;
            }
          }
          &-btn {
            background-color: #e84e0f;
            color: #ffffff;
            font-size: 20px;
            font-weight: bold;
            border-radius: 50px;
            padding: 15px 5px;
            display: block;
            width: 40%;
            margin: 15px auto 0;
            @media(max-width: 767px) {
              width: 70%;
            }
          }
        }
      }
    }
  }
}

.bottom-btn {
  position: relative;
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.example {
  max-width: 1055px;
  margin: 75px auto 0;
  width: 100%;
  @media(max-width: 767px) {
    padding: 0 15px;
  }
  &-bg {
    margin: 0 auto;
    max-width: 215px;
    font-size: 36px;
    background-color: #070a14;
    padding: 10px 15px;
    z-index: 2;
    border-radius: 8px;
    line-height: 1;
    text-align: center;
    color: white;
    position: relative;
    @media(max-width: 991px) {
      font-size: 26px;
    }
  }
  .content {
    background-color: #2e3238;
    padding: 40px 25px;
    border-radius: 7px;
    display: flex;
    position: relative;
    overflow: hidden;
    top: -25px;
    @media(max-width: 991px) {
      flex-direction: column;
      padding: 0;
      text-align: center;
    }
    .left-content {
      width: 50%;
      z-index: 1;
      padding-right: 2%;
      @media(max-width: 991px) {
        padding: 50px 25px 30px 25px;
        width: 100%;
      }
      .bottom-txt {
        font-size: 12px;
        color: #8a8a8a;
      }
      .top {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: center;
        margin-bottom: 15px;
        padding-right: 5%;
        @media(max-width: 991px) {
          justify-content: center;
        }
        .rake, .lvl, .rakeback, .points {
          margin-right: 10%;
          position: relative;
          min-height: 55px;
          @media(max-width: 579px) {
            margin-right: 4%;
          }
          p {
            margin: 0;
          }
        }
        .points {
          margin-right: 0;
        }
        .rake {
          .first {
            line-height: 1;
            margin-top: 7px;
          }
        }
        .lvl {
          &-bg {
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background-color: #38af00;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5px !important;
          }
        }
        img {
          position: absolute;
          bottom: 7px;
          right: -35px;
          @media(max-width: 767px) {
            display: none;
          }
        }
      }
    }
    .right-content {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8%;
      padding-right: 2%;
      @media(max-width: 991px) {
        width: 100%;
        padding: 30px 25px;
        background-color: #22252a;
      }
    }
    @media(min-width: 992px) {
      &:before {
        content: "";
        width: 45%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #22252a;
        position: absolute;
        z-index: 0;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
      }
      &:after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 0;
        height: 0;
        border-top: 140px solid transparent;
        border-bottom: 140px solid transparent;
        border-left: 80px solid #22252a;
        right: calc(56% - 75px);
        top: calc(50% - 140px);
      }
    }
  }
}

.user {
  margin-top: 25px;
  margin-bottom: 60px;
  @media(max-width: 767px) {
    padding: 0 15px;
  }
  &-img {
    margin-right: 40px;
  }
  &-header {
    max-width: 530px;
    line-height: 1.3;
    margin: 0 auto 25px;
  }
  &-table {
    max-width: 350px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    background-color: #1a1e21;
    padding: 25px 35px;
    border-radius: 7px;
    -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.75);
    position: relative;
    &:before {
      content: "";
      position: absolute;
      height: 3px;
      background-color: #3d4042;
      bottom: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      width: calc(100% - 2px);
      left: 1px;
    }
  }
  &-btn {
    .btn {
      width: 150px;
      background-color: #c4c6cf;
      text-align: center;
      padding: 3px 5px;
      color: #1a1e21;
      border: 1px solid #242729;
      border-radius: 3px;
      margin-bottom: 2px;
      outline: none;
      font-size: 12px;
      font-weight: bold;
      &.blinking {
        -webkit-animation: glowing 800ms ease-in-out infinite;
        -moz-animation: glowing 800ms ease-in-out infinite;
        -o-animation: glowing 800ms ease-in-out infinite;
        animation: glowing 800ms ease-in-out infinite;
      }
      @media(max-width: 767px) {
        width: 100%;
      }
    }
  }
}

.attention {
  margin: 0 auto;
  @media(max-width: 767px) {
    padding: 0 15px;
  }
  .content {
    position: relative;
    padding: 40px 40px 60px 100px;
    border: 2px solid rgba(255, 226, 14, 0.4);
    -webkit-box-shadow: 0 0 10px 0 rgba(236, 107, 1, 0.6);
    -moz-box-shadow: 0 0 10px 0 rgba(236, 107, 1, 0.6);
    box-shadow: 0 0 10px 0 rgba(236, 107, 1, 0.6);
    border-radius: 5px;
    @media(max-width: 767px) {
      padding: 35px 40px 35px 0;
    }
    .dice1 {
      position: absolute;
      bottom: 20px;
      left: -250px;
      @media(max-width: 991px) {
        display: none;
      }
    }
    .dice2 {
      position: absolute;
      right: -165px;
      top: -10px;
      @media(max-width: 991px) {
        display: none;
      }
    }
    ul {
      li {
        position: relative;
        margin-bottom: 5px;
        &:before {
          content: "";
          width: 8px;
          height: 8px;
          background-color: #e7cd11;
          border-radius: 5px;
          position: absolute;
          left: -18px;
          top: 5px;
        }
      }
    }
  }
}

.games {
  margin-top: 65px;
  @media(max-width: 767px){
    padding: 0 15px;
  }
  .content {
    margin: 0 auto;
    > div.d-flex{
      @media(max-width: 767px){
        flex-direction: column;
        align-items: center;
        a{
          margin-bottom: 30px;
        }
      }
    }
    .box {
      max-width: 330px;
      &.backgammon {
        p{
          background-color: #cb3d56;
        }
        div:hover{
          box-shadow: 0 0 5px 0 #cb3d56;
          transition: 0.8s all;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
      }
      &.bura {
        p{
          background-color: #395ea4;
        }
        div:hover{
          box-shadow: 0 0 5px 0 #395ea4;
          transition: 0.8s all;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
      }
      &.domino {
        p{
          background-color: #5a924b;
        }
        div:hover{
          box-shadow: 0 0 5px 0 #5a924b;
          transition: 0.8s all;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
        }
      }
      &.backgammon, &.bura, &.domino {
        p {
          width: 100%;
          padding-top: 10px;
          padding-bottom: 10px;
          margin-bottom: 0;
          border-bottom-left-radius: 4px;
          border-bottom-right-radius: 4px;
          color: #ffffff;
        }
      }
      img {
        width: 100%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }
    a{
      text-decoration: none;
    }
  }
}